body{
    margin: 0;
    padding: 0;
}

.header_section{
    background-image: url(../images/donation7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 669px;
    text-align: center;

}   

.header_section h1{
    font-family: 'Inter';
    font-size: 65px;
    display: inline-block;
    color: rgb(255, 255, 255);
    margin: 220px 200px 0px;
}

.header_section p{
    font-family: 'Poppins';
    font-size: 18px;
    display: inline-block;
    color: #ffffffff;
    margin: 0px 200px 0px;
}

.header_section a{
    text-decoration: none;
    font-family: 'Inter';
    font-size: 18px;
    text-align: center;
    display: inline-block;
    color: #ffffffff;
    background-color: #FF5959;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 20px 0px;    
}

.donate_today{
    text-align: center;
    width: 100%;
}
.donate_today h1{
    font-family: 'Inter';
    font-size: 45px;
    display: inline-block;
    margin-top: 136px;
}
.donate_today p{
    font-family: 'Poppins';
    font-size: 18px;
    display: inline-block;
    margin: 0px 200px 0px;
}
.taka_card{
    display: flex;
    text-align: center;
    margin-left: 270px;
    margin-top: 50px;
}
.card_item{
    font-family: 'Inter';
    font-size: 30px;
    color: #707070;
    font-weight: 700;
    background-color: #FAFAFA;
    padding: 40px 20px;
    margin-right: 10px;
    border-radius: 10px;
    text-align: center;
}
.card_item:hover{
    color: #FF5959;
    background-color: #FFEEEE;
    border: 3px solid #FF5959;
    ;
}
.donate_form{
    display: inline-block;
    text-align: center;
    margin-top: 20px;
}
.donate_form input{
    width: 770px;
    display: inline-block;
    text-align: center;
    font-family: 'Poppins';
    color: #B3B3B3;
    font-size: 25px;
    margin: 8px 0;
    border: none;
    border-bottom: 1px solid #DADADA;
    outline-style: none;
  }
  .donate_now_btn{
    font-family: 'Inter';
    font-size: 18px;
    text-align: center;
    display: block;
    color: #ffffffff;
    background-color: #FF5959;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 20px auto 0px;  
  }


.donate_plan{
    text-align: center;
    width: 100%;
}
.donate_plan h1{
    font-family: 'Inter';
    font-size: 45px;
    display: inline-block;
    margin-top: 136px;
}
.donate_plan_desc{
    font-family: 'Poppins';
    font-size: 18px;
    display: inline-block;
    margin: 0px 200px 0px;
}
.plan_card{
    display: flex;
    margin-top: 50px;
    text-align: left;
    font-size: 'Poppins';
    margin-left: 150px;
    margin-right: 150px;
}
.plan_item{
    width: 350px;
    display: block;
    padding: 30px 30px;
    border-radius: 5px;
    font-family: 'Poppins';
}
.plan_item h2{
    font-size: 24px;
}
.plan_item p{
    font-size: 16px;
}
.plan_item_1{
    background-color: #EEF6F7;
}

.plan_item_2{
    background-color: #FFF4D6;
}

.contact_container{
    width: 30%;
    margin: 50px auto 0px;
    background-color: #EEF6F7;
    padding: 50px 50px;
}
.contact_form{
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    
}
.contact_form input{
    border: 1px solid #EEF6F7;
    border-radius: 5px;
    width: 100%;
    height: 25px;
    margin-bottom: 20px;
}
.contact_form textarea{
    border: 1px solid #EEF6F7;
    border-radius: 5px;
    width: 100%;
    height: 200px;
}

footer{
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #0B0D17;
    margin-bottom: 0;
}
footer h1{
    color: #FF5959;
    padding-top: 20px;
}
footer p{
    color: #ffffff;
    display: inline-block;
}